@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url(https://miro.medium.com/max/3000/1*X1K4Zi_mTg94imnWW-zfUw.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="color:skyblue"><i><b>Hotel Vitale</b></i></h1>
</div>
