@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url(https://cronuts.digital/wp-content/uploads/2021/10/Marketing-Digital-Hoteles.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="color:skyblue"><i><b>Hotel Mystery Forever</b></i></h1>
</div>
