@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url(https://stylesfever.com/wp-content/uploads/2016/10/besthotelsites-1.jpg /*link za snimka*/ );
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="color:skyblue"><i><b>Hotel Mystery Forever</b></i></h1>
</div>
