@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-image: url(https://brat-bg.com/images/ice-hotel2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
