@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-image: url(https://brat-bg.com/images/ice-hotel2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<main>
    <section>
        <p class="text">
            &ensp;New York<br>
            &ensp;McGinley Square 12<br>
            &ensp;Phone number: 087 453 5685<br>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12094.84652288718!2d-74.07936036052351!3d40.72436423119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c250d3928ead5d%3A0xbaff7b7a75916a62!2zTWNHaW5sZXkgU3F1YXJlLCDQlNC20YrRgNGB0Lgg0KHQuNGC0LgsINCd0Y4g0JTQttGK0YDRgdC4LCDQodGK0LXQtNC40L3QtdC90Lgg0YnQsNGC0Lg!5e0!3m2!1sbg!2sbg!4v1617980320337!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
        <!<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24198.969078160586!2d-74.34727798164697!3d40.69883566370796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3ae17330c14f1%3A0xf114213925797882!2z0KHQv9GA0LjQvdCz0YTQuNC50LvQtCwg0J3RjiDQlNC20YrRgNGB0LgsINCh0YrQtdC00LjQvdC10L3QuCDRidCw0YLQuA!5e0!3m2!1sbg!2sbg!4v1617979930929!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>>
    </section>
</main>

