@{
    ViewData["Title"] = "Location and contacts";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-image: url(https://m.netinfo.bg/media/images/46827/46827148/orig-orig-kajmanovi-ostrovi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<main>
    <section>
        <p class="text">
            &ensp;Карибски регион<br>
            &ensp;Кайманови острови<br>
            &ensp;Phone number: 087 453 5685<br>
            &ensp;Email: caymanIslandsHotelsMF@gmail.com<br>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d962766.8929391352!2d-81.1347362318331!3d19.50688704517279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f25863e2fb8aa29%3A0x7045c4d38770715e!2z0JrQsNC50LzQsNC90L7QstC4INC-0YHRgtGA0L7QstC4!5e0!3m2!1sbg!2sbg!4v1649446027872!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
        <!<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d962766.8929391352!2d-81.1347362318331!3d19.50688704517279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f25863e2fb8aa29%3A0x7045c4d38770715e!2z0JrQsNC50LzQsNC90L7QstC4INC-0YHRgtGA0L7QstC4!5e0!3m2!1sbg!2sbg!4v1649446027872!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>>
    </section>
</main>

