@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-image: url(https://stylesfever.com/wp-content/uploads/2016/10/besthotelsites-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
